

<!doctype html>
<html class="no-js" lang="zxx">


<!-- Mirrored from html.vecurosoft.com/gamio/demo/index-3.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 04 May 2024 12:55:08 GMT -->
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>LEAGUE OF LEGEND _ TEMWORK</title>
    <meta name="author" content="Vecuro">
    <meta name="description" content="Gamio - eSports and Gaming HTML Template">
    <meta name="keywords" content="Gamio - eSports and Gaming HTML Template">
    <meta name="robots" content="INDEX,FOLLOW">

    <!-- Mobile Specific Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!--==============================
	   Google Web Fonts
	============================== -->
    <link rel="preconnect" href="https://fonts.gstatic.com/">
    <link
        href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&amp;family=Montserrat:wght@700&amp;family=Roboto:wght@400;700&amp;display=swap"
        rel="stylesheet">

    <!-- Favicons - Place favicon.ico in the root directory -->
    <link rel="shortcut icon" href="assets/img/favicon.ico" type="image/x-icon">
    <link rel="icon" href="assets/img/favicon.ico" type="image/x-icon">

    <!--==============================
	    All CSS File
	============================== -->
    <!-- Bootstrap -->
    <!-- <link rel="stylesheet" href="assets/css/app.min.css"> -->
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <!-- Fontawesome Icon -->
    <link rel="stylesheet" href="assets/css/fontawesome.min.css">
    <!-- Layer Slider -->
    <link rel="stylesheet" href="assets/css/layerslider.min.css">
    <!-- Magnific Popup -->
    <link rel="stylesheet" href="assets/css/magnific-popup.min.css">
    <!-- Slick Slider -->
    <link rel="stylesheet" href="assets/css/slick.min.css">
    <!-- Theme Custom CSS -->
    <link rel="stylesheet" href="assets/css/style.css">
    </head>

<body>



    <!--==============================
     Preloader
    ==============================-->
    <div class="preloader  ">
        <button class="vs-btn preloaderCls">Cancel Preloader </button>
        <div class="preloader-inner">
            <div class="loader-logo">
                <img src="assets/img/assassin-two-a5ebf8c8bc37fff89abf4dbbf4e347ed.png" alt="Loader Image">
            </div>
            <div class="loader-wrap pt-4">
                <span class="loader"></span>
            </div>
        </div>
    </div>
    @await Component.InvokeAsync("MenuView");
    @RenderBody()
    <!--========================
    Sticky Header
    ========================-->
    
    <!--==============================
			Footer Area
	==============================-->
    <footer class="footer-wrapper footer-layout2 bg-dark bg-fluid" data-bg-src="assets/img/shape/footer-bg-2-1.jpg">
        <div class="footer-widget-wrapper  dark-style1 pb-30">
            <div class="container">
                <div class="row justify-content-between">
                    <div class="col-md-6 col-lg-3 col-xl-3">
                        <div class="widget footer-widget pt-0">
                            <h3 class="widget_title text-white">About Us</h3>
                            <div class="vs-widget-about">
                                <p class="pe-xl-3">Learning with us is fun & addictive Earn points for correct answers,
                                    race against the clock, level up.</p>
                                <div class="d-flex gap-2 text-white mt-25">
                                    <a class="icon-btn text-white" href="#"><i class="fab fa-facebook-f"></i></a>
                                    <a class="icon-btn text-white" href="#"><i class="fab fa-twitter"></i></a>
                                    <a class="icon-btn text-white" href="#"><i class="fab fa-behance"></i></a>
                                    <a class="icon-btn text-white" href="#"><i class="fab fa-youtube"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-5 col-md-6 col-lg-2 col-xl-2">
                        <div class="widget footer-widget  ">
                            <h3 class="widget_title font-theme3">PLATFORM</h3>
                            <ul class="custom-links">
                                <li><a href="#">Playstation 4</a></li>
                                <li><a href="#">XBOX One</a></li>
                                <li><a href="#">PC</a></li>
                                <li><a href="#">Steam</a></li>
                                <li><a href="#">Origin</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-7 col-md-6 col-lg-4 col-xl-3">
                        <div class="widget footer-widget  ">
                            <h3 class="widget_title font-theme3">PLATFORM</h3>
                            <div class="row g-3">
                                <div class="col-sm-5">
                                    <ul class="custom-links">
                                        <li><a href="#">Home</a></li>
                                        <li><a href="#">Store</a></li>
                                        <li><a href="#">Gallery</a></li>
                                        <li><a href="#">Portfolio</a></li>
                                        <li><a href="#">Contacts</a></li>
                                    </ul>
                                </div>
                                <div class="col-sm-7">
                                    <ul class="custom-links">
                                        <li><a href="#">Terms Conditions</a></li>
                                        <li><a href="#">Careers</a></li>
                                        <li><a href="#">Latest Insights</a></li>
                                        <li><a href="#">Latest Posts</a></li>
                                        <li><a href="#">Contact</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-3 col-xl-4">
                        <div class="widget footer-widget  ">
                            <h3 class="widget_title text-white">news feeds</h3>
                            <div class="post-thumb-style1 border-light-white">
                                <div class="vs-blog d-flex gap-3">
                                    <div class="media-img">
                                        <a href="blog-details.html"><img src="assets/img/footer/footer-post-1-1.jpg"
                                                alt="Recent Post"></a>
                                    </div>
                                    <div class="media-body align-self-center">
                                        <h4 class="h5 blog-title font-theme lh-base text-light mb-0"><a
                                                href="blog-details.html">The General Service Administration</a></h4>
                                        <div class="blog-meta fs-xs mt-1">
                                            <a href="blog.html"><i class="fal fa-calendar-alt"></i>June 21, 2025</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="vs-blog d-flex gap-3">
                                    <div class="media-img">
                                        <a href="blog-details.html"><img src="assets/img/footer/footer-post-1-2.jpg"
                                                alt="Recent Post"></a>
                                    </div>
                                    <div class="media-body align-self-center">
                                        <h4 class="h5 blog-title font-theme lh-base text-light mb-0"><a
                                                href="blog-details.html">Wanted Video Gamer parytyshow</a></h4>
                                        <div class="blog-meta fs-xs mt-1">
                                            <a href="blog.html"><i class="fal fa-calendar-alt"></i>Augest 25, 2025</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-7 text-center">
                        <div class="copyright-shape bg-light-dark">
                            <p class="copywrite-text">Copyright &copy; 2024 <a href="index.html">Gamio</a> All Rights
                                Reserved By <a href="https://themeforest.net/user/vecuro_themes">Vecuro</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>



    <!--********************************
			Code End  Here 
	******************************** -->

    <!-- Scroll Top Top Button -->
    <a href="#" class="scrollToTop icon-btn3"><i class="far fa-angle-up"></i></a>




    <div class="vs-cursor"></div>
    <div class="vs-cursor2"></div>




    <!--==============================
        All Js File
    ============================== -->
    <!-- Jquery -->
    <script src="assets/js/vendor/jquery-3.6.0.min.js"></script>
    <!-- Slick Slider -->
    <!-- <script src="assets/js/app.min.js"></script> -->
    <script src="assets/js/slick.min.js"></script>
    <!-- Bootstrap -->
    <script src="assets/js/bootstrap.min.js"></script>
    <!-- Magnific Popup -->
    <script src="assets/js/jquery.magnific-popup.min.js"></script>
    <!-- Isotop -->
    <script src="assets/js/imagesloaded.pkgd.min.js"></script>
    <script src="assets/js/isotope.pkgd.min.js"></script>
    <!-- jQuery UI -->
    <script src="assets/js/jquery-ui.min.js"></script>
    <!-- Custom Carousel -->
    <script src="assets/js/vscustom-carousel.min.js"></script>
    <!-- Mouse Cursor -->
    <script src="assets/js/vs-cursor.min.js"></script>
    <!-- Mobile Menu -->
    <script src="assets/js/vsmenu.min.js"></script>
    <!-- Map Js -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDC3Ip9iVC0nIxC6V14CKLQ1HZNF_65qEQ"></script>
    <script src="assets/js/map.js"></script>
    <!-- Form Js -->
    <script src="assets/js/ajax-mail.js"></script>
    <!-- Main Js File -->
    <script src="assets/js/main.js"></script>

</body>
