@using dona.Areas.Admin.Models
@using dona.Utilities;
@model dona.Model.tblLane
@{
    Layout="~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
    }
    <main id="main" class="main">
        <div class="pagetitle">
            <h2> Confirm to delete a Lane</h2>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label asp-for="LaneID">PathID</label>
                <input type="text" class="form-control mb-3"asp-for="LaneID"disabled />
            </div>
            <div class="form-group col-md-6">
                <label asp-for="LaneID">NamePath</label>
                <input type="text" class="form-control mb-3"asp-for="NameLane" disabled />
            </div>
        </div>
        <form asp-action="Delete" method="Post">
            <input type="hidden"asp-for="LaneID" />
            <a class="btn btn-lg-btn-warning p-2 mr-5"href="javacript:history.back()">
                <i class="bi bi-arrow-left-circle"></i> Go back
            </a>
            <button type="submit" class="btn btn-lg btn-danger p-2">
                <i class="bi bi-trash"></i>Delete
            </button> 
        </form>
    </main>