
@await Component.InvokeAsync("Post")
==========================
    Newsletter Area
    ==============================-->
    <section class="vs-newsletter-wrapper  bg-light-dark  ">
        <div class="container">
            <div class="position-relative">
                <div
                    class="inner-wrapper bg-major-black position-absolute top-50 start-0 end-0 translate-middle-y px-50 py-50">
                    <div class="row align-items-center justify-content-xl-start">
                        <div class="text-center text-xl-start col-xl-6 mb-4 mb-xl-0">
                            <h2 class="mb-0 text-white h3 font-theme3 d-flex flex-wrap align-items-center"><img
                                    class="align-middle me-3" src="assets/img/icons/newsletter-2.png"
                                    alt="Newsletter Icon"> get newsletter</h2>
                        </div>
                        <div class="col-sm-12 col-lg-7 col-xl-6 text-center text-md-end">
                            <form action="#" class="newsletter-style2 d-md-flex">
                                <input type="email" class="form-control" placeholder="Enter email address">
                                <button class="vs-btn style1 mt-3 mt-md-0">Subscribe Now</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
   